
@font-face {
    font-family: 'myfonthere';
    font-style: normal;
    font-weight: normal;
    src: url('https://chirantandip.github.io/font/cmunbmr.ttf') format('truetype');
}

@font-face {
    font-family: 'myfonthere';
    font-style:normal;
    font-weight: bold;
    src: url('https://chirantandip.github.io/font/cmunsx.ttf') format('truetype');
}

* {
    font-family: myfonthere;
}

body {
    font-family: myfonthere;
    font-size: 16px;
    overflow: hidden;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-wrapper {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}
.content-wrapper::-webkit-scrollbar {
    display: none;
}

.text-gray-700{
    text-align: justify;
}

.header{
    max-height: 40vh;
    height: 40vh;
}

.navbar {
    height: 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #E6E6E6;
    padding: 0.1rem;
    z-index: 1000;
    font-size: 1rem;
}

.navbar img {
    height: 2rem;
    margin-right: 2rem;
    padding-left: 2rem;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.navbar a:hover {
    color: darkslateblue;
}

.menu {
    display: flex;
    gap: 20px;
    flex-grow: 1;
}
.menu-icon {
    display: none;
    font-size: 32px;
    cursor: pointer;
    color: darkgray;
}

.collapsible {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #5B913B;
    color: white;
    margin-bottom: 10px;
    justify-content: space-between;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
    margin-bottom: 20px;
    transition: max-height 0.3s ease-out;
}
.session-header {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-variant:small-caps;
    border-bottom: lightblue 1px solid;
}

@media (max-width: 1000px) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        z-index: 1000;
    }
    .menu {
        width: 100%;
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 3rem;
        width: 100%;
        background-color: white;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    .menu a {
        font-size: 1rem;
        text-align: left;
        padding: 0.1rem;
        padding-left: 1.2rem;
        width: 100%;
    }
    .menu a:hover{
        background-color: lightskyblue;
    }
    .menu-icon {
        display: block;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

.hero-bg {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}
.hero-bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.hero-bg img.active {
    opacity: 1;
}

footer{
  background-color: #E6E6E6;
  padding-top: 40px;
}
